<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <%= stylesheet_link_tag "signUp.css" %>
</head>

<body>
    <div class="limiterSignUp">
        <div class="mainSignUp">

            <div class="form half1SignUp">
               <%= image_tag 'login3.png' %>
               
              <div class = "titleSignUp" > SIGN UP</div>
              <div class = "subTitleSignUp" > Enter your Informations</div>
              <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              

              <div class="field input-container ic1">
                <%= f.email_field :email, autofocus: true, placeholder:"email", autocomplete: "email", :class => "inputSignUp" %>
                <br />
              </div>
              <div class= "cut"></div>

              <div class="field input-container ic2">
                <%= f.text_field :userName, autofocus: true,placeholder:"username", autocomplete: "userName", :class => "inputSignUp" %>
              <br />
              </div>
              <div class= "cut"></div>

              <div class="field input-container ic2">
                <%= f.text_field :firstName, autofocus: true,placeholder:"first name", autocomplete: "firstName", :class => "inputSignUp" %>
               <br />
              </div>
              <div class= "cut"></div>

              <div class="field input-container ic2">
                <%= f.text_field :lastName, autofocus: true,placeholder:"last name", autocomplete: "lastName", :class => "inputSignUp" %>
                <br />
              </div>
              <div class= "cut"></div>

              <div class="field input-container ic2">
                <%= f.password_field :password,placeholder:"password", autocomplete: "new-password", :class => "inputSignUp" %>
                
              </div>
              <div class= "cut"></div>

              <div class="field input-container ic2">
                <%= f.password_field :password_confirmation,placeholder:"comfirm password", autocomplete: "new-password", :class => "inputSignUp" %>
               <br />
              </div>
              <div class= "cut cut-short"></div>

              <div class="actions">
                <%= f.submit "Sign up", :class => "submit" %>
              </div>
                <% end %>
              </div>
            
            <div class="form half2SignUp">
              <div class = "titleSignUp" > LOG IN</div>
              <div class = "subTitleSignUp" > Enter your Informations</div>
              <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              
              <div class="fieldinput-container ic1">
                <%= f.email_field :email, autofocus: true, autocomplete: "email",:class => "inputSignUp",placeholder:"Email"  %>
              </div>
              <div class= "cut"></div>

              <div class="field input-container ic2">
                <%= f.password_field :password, autocomplete: "current-password",:class => "inputSignUp" ,placeholder:"Password" %>
              </div>
              <div class= "cut cut-short"></div>

              <% if devise_mapping.rememberable? %>
              <div class="field">
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </div>
              <% end %>

              <div class="actions">
                <%= f.submit "Log in",:class =>"submit" %>
              </div>
              <% end %>           
                                 
              </div>
            </div>
        </div>

    </div>

    <script src="" async defer></script>
</body>

</html>





