<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag 'home.css' %>
    <%= stylesheet_link_tag 'menuLayout.css' %>
  </head>
  <body>
    <div class="left-layout">
      <%= render "layouts/menuLayout" %>
    </div>
   
    <main>
      <nav>
          <div>
              <h1>Accueil</h1>
              <%= image_tag 'popular_tweet.png', :class => 'popular-tweet hover-effect' %>
          </div>
      </nav>

      <div>
          <%= form_with url: "/tweets", method: :post do |form| %>
            <div class="create-tweet-header">
                <%= image_tag 'test_tweet_profile.png', :class => 'profile-picture' %>
                <%= form.text_area 'Tweeter', name: 'content', placeholder: 'Quoi de neuf ?', maxLength: '280' %>
            </div>
            <div class="create-tweet-footer">
              <label for="content_picture">
                <%= image_tag 'add_photo.png', class: 'hover-effect' %>
              </label>
              <input type="file" name="content_picture" id="content_picture" accept="image/png, image/jpeg", style="width: 0;" />

              <%= form.submit "Tweeter", class: 'submit-tweet'  %>
            <%# form.file_field, name: 'post_picture', accept: 'image/png, image/jpeg' %>
            </div>
          <% end %>
      </div>

        <% @tweets.each do |tweet| %>
          <div class="post">
                <div class="post-sidebar"> 
                    <%= image_tag 'test_tweet_profile.png', :class => 'profile-picture' %>
                </div>
                <div class="post-body">
                    <div class="post-header">
                        <div class="post-name">
                            <h2 class="header-title"><%= User.all.where(id: tweet[:user_id])[0][:userName] %></h2>
                            <p class="author-tag"><%= User.all.where(id: tweet[:user_id])[0][:userName] %></p>
                            <%= image_tag 'dots.png', :class => 'header-menu hover-effect' %>
                        </div>
                        <p class="post-text">
                          <%= tweet[:content] %>
                        </p>
                    </div>

                    <div class="post-content">
                      <%= image_tag 'test-tweet-content-picture.jpeg', width: 25, :class => 'content-image' %>
                    </div>

                    <div class="post-footer">
                    <%= image_tag 'comment.png', width: 25, :class => 'hover-effect' %>
                    <%= image_tag 'retweet.png', width: 25, :class => 'hover-effect' %>
                    <%= image_tag 'like.png', width: 25, :class => 'hover-effect' %>
                    <%= image_tag 'share.png', width: 25, :class => 'hover-effect' %>
                    </div>
                </div>
            </div>
        <% end %>

    </main>

    <%= render "layouts/trendsLayout" %>

  </body>

</html>
