<!DOCTYPE html>
<html>
  <head>
    <title>RubyTwitterProject</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag "profile.css" %>
    <%= stylesheet_link_tag "home.css" %>
  </head>
  <body>
    <%= render "layouts/menuLayout" %>
      <main>
      <nav >
        <%= image_tag('back_arrow.png', :onclick => "history.back()".html_safe, :class => "imgbtn")  %>
          <% if current_user.userName == @username %>
            <input type="button" class="edit-profile" value="Edit profile" onclick="displayModal()">
          <% else %>
          <%= form_with url: '/follow', method: :post do |form| %>
              <%= form.text_field 'username', value: @username, style: 'visibility: hidden; width: 0px; height: 0px;' %>
              <%= form.submit "Follow", name: "follow-button", id: "follow-button", class: 'follow-button' %>
            <% end %>
          <% end %>
      </nav>
        <div class="profile-content">
          <div style="margin: 0px 15px; width: 100%;">
            
            <div class="profile-info">
              <div class="principal-info">
                <div class="profile-photo">
                  <%= image_tag 'test_pp.png', width:180, height:180 %>
                </div>
                <div>
                  <h1 class="username">
                    <%= User.where(userName: @username)[0][:userName] %>
                  </h1>
                  <p class="profile-description">
                     <%= current_user.description %>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras eu semper leo. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Morbi lobortis nibh tincidunt urna mattis tristique. Vivamus et euismod nulla. Donec sit amet velit sed justo elementum lacinia. Pellentesque auctor ipsum ac dictum facilisis. Suspendisse porttitor, quam fermentum posuere maximus, nibh purus condimentum neque, at bibendum sapien lacus nec eros. 
                  </p>
                </div>
                </div>
                  <div class="follow-info">
                    <div class="tweets">
                      <b>
                        <%=  %> 10
                      </b>
                      <span>Tweets</span>
                    </div>
                    <div class="followers">
                      <b>
                        <%=  %> 10
                      </b>
                      <span>Followers</span>
                    </div>
                    <div class="following">
                      <b>
                        <%=  %> 10
                      </b>
                      <span>Following</span>
                    </div>
                  </div>
                </div>
            </div>
        </div>
        <div class="tweet-area">
          tweet
        </div>
        </main>
        <% if current_user.present?%>
      <%= render "layouts/trendsLayout" %>
    <% end %>
    </div>
    <%= form_for :user, :class => "modal-container-profile", :id => "modal-container-profile" do |f| %>
    
      <div class="modal-profile">
        <div class="modal-header">
          <%= image_tag 'cross.png', class: "imgbtn", id: "closeModal"  %>
          <h1>Edit profile</h1>
          <%= f.submit "Save", :class => "modal-save" %>
        </div>
      <div style="padding: 20px;">
    <div class="avatar-upload">
        <div class="avatar-edit">
            <input type='file' id="imageUpload" accept=".png, .jpg, .jpeg" />
            <label for="imageUpload"></label>
        </div>
        <div class="avatar-preview">
            <div id="imagePreview" style="background-image: url('http://i.pravatar.cc/500?img=7');">
            </div>
        </div>
    </div>
    <div class="form-profile"> 
      <%= f.text_field :pseudo, :class => "text_field", placeholder:"pseudo", value: current_user.pseudo %><br />
      <%= f.text_field :biography, :class => "text_field", placeholder: "Description", value: current_user.description %><br />
    <% end %>
    </div>
    </div>
    </div>
    </div>
</body>
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script>
  document.getElementById('closeModal').addEventListener("click", hideModal)
  function displayModal() {
    document.getElementById('modal-container-profile').style.display = 'flex';
  }
  function hideModal() {
    document.getElementById('modal-container-profile').style.display = 'none';
  }
  function followButton() {
    let follow = document.getElementById('follow-button')
    if (follow.value == 'Follow'){
      follow.value = "Followed"
      follow.className = 'followed-profile'
    } else if (follow.value == 'Followed' ){
      follow.value = "Follow"
      follow.className = 'follow-profile'
    }
  }
  function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();
        reader.onload = function(e) {
            $('#imagePreview').css('background-image', 'url('+e.target.result +')');
            $('#imagePreview').hide();
            $('#imagePreview').fadeIn(650);
        }
        reader.readAsDataURL(input.files[0]);
    }
  }
  $("#imageUpload").change(function() {
    readURL(this);
  });
</script>
</html>