<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <%= javascript_include_tag('_menuLayout.js') %>
       <%= stylesheet_link_tag "menuLayout.css" %>
  </head>
  <body>
   
    <div class="menu">
      
      <a class="logo" href="/">
        <%= image_tag 'logo.png', width: 30, height: 25 %>
      </a>
     
      <a class="menuLign" href="/">
        <%= image_tag 'home.png', width: 25, height: 25 %>
        <div class="menuText">Home</div>
      </a>
     
      <a class="menuLign" href="/explore">
        <%= image_tag 'hashtag.png', width: 25, height: 25 %>
        <div class="menuText">Explore</div>
      </a>
     
      <a class="menuLign" href="/notification">
        <%= image_tag 'notification.png', width: 25, height: 25 %>
        <div class="menuText">Notifications</div>
      </a>
     
      <a class="menuLign" href=<%= 'p/' + current_user.pseudo %>>
        <%= image_tag 'profile.png', width: 25, height: 25 %>
        <div class="menuText">Profile</div>
      </a>
     
      <div class="tweetBtn" onclick="openModal()">
        <div class="menuText">
          Tweet
        </div>
      </div>
     
      <div class="modal" id="modal">
        <div class="modalContent">
          <span onclick="closeModal()" class="closeBtn"> X
          </span>
            <%= form_with url: "/tweets", method: :post do |form| %>
              <div class="create-tweet-header">
                <%= image_tag 'test_tweet_profile.png', :class => 'profile-picture' %>
                <%= form.text_area 'content', placeholder: 'Quoi de neuf ?', maxLength: '280' %>
              </div>
              <div class="create-tweet-footer">
                <%= form.submit "Tweeter", class: 'submit-tweet'  %>
              </div>
            <% end %>
        </div>
      </div>
      
       <%= button_to "Log out", destroy_user_session_path, method: :delete, class:'logoutBtnHidden', id: 'lgtBtn' %>
      <div class="profileWrapper" onclick="logoutPopUp()">
           

        <%= image_tag 'profile.png', width: 40, height: 40 %>
       
        <div class="idWrapper">
          
          <div class="name">
          <%= current_user.pseudo %>
          </div>
          
          <div class="pseudo">
            @<%= current_user.userName %>
          </div>
       
        </div>
        
        <div class="dots">
          <%= image_tag 'dots.png' %>
        </div>
     
      </div>
    
    </div>

  </body>
</html>
