<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  </head>
  <body>
   
    <div class="menu">
      
      <div class="logo">
        <%= image_tag 'logo.png', width: 30, height: 25 %>
      </div>
     
      <div class="menuLign">
        <%= image_tag 'home.png', width: 25, height: 25 %>
        <div class="menuText">Home</div>
      </div>
     
      <div class="menuLign">
        <%= image_tag 'hashtag.png', width: 25, height: 25 %>
        <div class="menuText">Explore</div>
      </div>
     
      <div class="menuLign">
        <%= image_tag 'notification.png', width: 25, height: 25 %>
        <div class="menuText">Notifications</div>
      </div>
     
      <div class="menuLign">
        <%= image_tag 'profile.png', width: 25, height: 25 %>
        <div class="menuText">Profile</div>
      </div>
     
      <div class="tweetBtn">
        <div class="menuText">
          Tweet
        </div>
      </div>
     
      <div class="profileWrapper">
        <%= image_tag 'profile.png', width: 40, height: 40 %>
        <%= button_to "logout", destroy_user_session_path, method: :delete  %>
        <div class="idWrapper">
          
          <div class="name">
            <%# <%= current_user.email %>
            Pseudo
          </div>
          
          <div class="pseudo">
            @Pseudo 
          </div>
       
        </div>
        
        <div class="dots">
          ...
        </div>
     
      </div>
    
    </div>

  </body>
</html>
