<!DOCTYPE html>
<html>
  <head>
    <title>RubyTwitterProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

   <div>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
   
    <% if current_user.present?%> 
        <%= link_to "Bonjour gaetan voici ta page", destroy_user_session_path, method: :delete %>
    <% else %>
        <%= link_to "Bonjour voici une page ", new_user_session_path %>
    <% end %>

    <%= yield %>

  </body>
</html>
