<!DOCTYPE html>
<html>
  <head>
    <title>RubyTwitterProject</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

  <div>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
  </div>

 <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo">Logo</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="sass.html">j'adore le front</a></li>
        <li><a href="badges.html">Vive la vie</a></li>
        <li><a href="collapsible.html">Saucisse</a></li>
      </ul>
    </div>
    <a class="waves-effect waves-light btn">Tweet</a>
  

  <%= yield %>

  </body>
</html>
